{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
{% if allow %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-2">Attendance Form</h1>
        <hr class="mt-0 mb-4">
        <form method="POST" id="a-form" data-sub-url="{% url 'ajax_load_sub' %}">
            {% csrf_token %}
            {{ form| crispy }}
            <input class="btn btn-success bg-dark" type="submit" value="Submit">
        </form>
        {% for m in messages %}
        <div class="text-info">
            {{m}}
        </div>
        {% endfor %}
      </div>
    </div>
    
</div>
{% else %}
<div class="container">
    <div class="text-center text-dark">
        The attendance time is over, if you think this is a mistake contact admin.
    </div>
</div>
{% endif %}
  <br>
  <br>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_sub").change(function () {
        const url = $("#a-form").attr("data-sub-url");  // get the url of the `load_cities` view
        const subId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'sub_id': subId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data)
                $("#id_time").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>
{% endblock %}
