<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Attendance Management System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{%static '/css/stylebase.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <h2 class="text-white"><small>AMS</small></h2>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarContent">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'subject' %}">Subjects</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'attend' %}">Attendance</a></li>
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Admin</a></li>-->
                            <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                            <!--<li class="nav-item"><a class="nav-link active" href="#">HOD</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Teacher</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Student</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#">Contact Us</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        {% block content %}
        {% endblock %}
        <!--<section class="container-fluid bg-dark">
            <div class="row">
                <div class="col-sm-2">
                    <h4 class="text-white"><small>SOCIAL LINKS</small></h4>
                    <table class="table">
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <h4 class="text-white"><small>PROJECT LINKS</small></h4>
                    <table class="table">
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <h4 class="text-white"><small>PROJECT LINKS</small></h4>
                    <table class="table">
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h4 class="text-white"><small>CONTACT US</small></h4>
                    <p class="text-white">Jalpaiguri Government Engineering College<br>
                    Prayagraj,U.P.<br>
                    Pin- xxxxxx<br>
                    Phone- xxxxxxxx<br>
                    Website - www.web.com
                    </p>
                </div>
            </div>
            <h4 class="badge badge-info bg-dark">@Copyright Aman Prakash Jha</h4>
        </section>-->
          <!-- Site footer -->
            <footer class="site-footer">
                <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                    </div>
        
                    <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                    </ul>
                    </div>
        
                    <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                    </div>
                </div>
                <hr>
                </div>
                <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                <a href="#">Aman Prakash Jha</a>.
                    </p>
                    </div>
        
                    <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                    </div>
                </div>
                </div>
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
    
        