<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Attendance Management System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{%static '/css/stylebase.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <h2 class="text-white"><small><a href="{% url 'index' %}" style="color:#FFF; text-decoration: none;">AMS</a></small></h2>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarContent">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'subject' %}">Subjects</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'attend' %}">Attendance</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Attendance</a></li>
                            {% endif %}
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Admin</a></li>-->
                            {% csrf_token %}
                            {% if user.is_superuser %}
                            {% if allow %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'allow' %}"><i class="fa fa-stop"></i></a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'allow' %}"><i class="fa fa-play"></i></a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'download' %}">Download</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'filter' %}">Filter</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                            {% endif %}
                            {% if user.is_authenticated is False %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                            <!--<li class="nav-item"><a class="nav-link active" href="#">HOD</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Teacher</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Student</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#">Contact Us</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </section>     
            {% block content %}          
            {% endblock %}
        <!--<section class="container-fluid bg-dark">
            <div class="row">
                <div class="col-sm-2">
                    <h4 class="text-white"><small>SOCIAL LINKS</small></h4>
                    <table class="table">
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <h4 class="text-white"><small>PROJECT LINKS</small></h4>
                    <table class="table">
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <h4 class="text-white"><small>PROJECT LINKS</small></h4>
                    <table class="table">
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h4 class="text-white"><small>CONTACT US</small></h4>
                    <p class="text-white">Jalpaiguri Government Engineering College<br>
                    Prayagraj,U.P.<br>
                    Pin- xxxxxx<br>
                    Phone- xxxxxxxx<br>
                    Website - www.web.com
                    </p>
                </div>
            </div>
            <h4 class="badge badge-info bg-dark">@Copyright Aman Prakash Jha</h4>
        </section>-->
          <!-- Site footer -->
            <!-- <footer class="site-footer">
                <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    <h6>About</h6> -->
                    <!-- <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p> -->
                    <!-- <p class="text-justify">Looking for career opportunities where I can apply my knowledge and skills in full stack development, programming, and database management alongside my initiative, dependability, and adaptability to further help the company’s productivity in achieving its set goals. </p>
                    </div>
        
                    <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="#">C++</a></li>
                        <li><a href="#">UI Design</a></li>
                        <li><a href="#">Django</a></li>
                        <li><a href="#">Flask</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Templates</a></li>
                    </ul>
                    </div> -->
        
                    <!-- <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a target="_blank" href="https://imaman.pythonanywhere.com/">Portfolio</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Privacy Policy</a></li> -->
                        <!-- <li><a href="#">Sitemap</a></li> -->
                    <!-- </ul>
                    </div>
                </div>
                <hr>
                </div>
                <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                <a href="#">Aman Prakash Jha</a>.
                    </p>
                    </div> -->
        
                    <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/aman.jha.3154284"><i class="fa fa-facebook"></i></a></li> -->
                        <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                        <!-- <li><a class="linkedin" href="linkedin.com/in/aman-prakash-jha-1549431a1/"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                    </div>
                </div>
                </div> -->
        <!-- </footer> -->
        <footer class="ftco-section ftco-section-2 bg-light">
            <div class="col-md-12 text-center">
                <p class="mb-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                    document.write(new Date().getFullYear());
    
                </script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/amanjha8100" target="_blank">Aman Prakash Jha</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </footer>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
    
        