<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Attendance Management System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


        {% block css %}
        {% endblock %}
    </head>
    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <h2 class="text-white"><small>AMS</small></h2>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarContent">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'subject' %}">Subjects</a></li>
                            <li class="nav-item"><a class="nav-link active" href="{% url 'attend' %}">Attendance</a></li>
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Admin</a></li>-->
                            <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                            <!--<li class="nav-item"><a class="nav-link active" href="#">HOD</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Teacher</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link active" href="#">Student</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#">Contact Us</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        {% block content %}
        {% endblock %}
        <section class="container-fluid bg-dark">
            <div class="row">
                <div class="col-sm-2">
                    <h4 class="text-white"><small>SOCIAL LINKS</small></h4>
                    <table class="table">
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                        <tr><td><a herf="http://www.facebook.com"><div class="text-white">Facebook</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <h4 class="text-white"><small>PROJECT LINKS</small></h4>
                    <table class="table">
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <h4 class="text-white"><small>PROJECT LINKS</small></h4>
                    <table class="table">
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                        <tr><td><a href="/#"><div class="text-white">Home</div></a></td></tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h4 class="text-white"><small>CONTACT US</small></h4>
                    <p class="text-white">Jalpaiguri Government Engineering College<br>
                    Prayagraj,U.P.<br>
                    Pin- xxxxxx<br>
                    Phone- xxxxxxxx<br>
                    Website - www.web.com
                    </p>
                </div>
            </div>
            <h4 class="badge badge-info bg-dark">@Copyright Aman Prakash Jha</h4>
        </section>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
    
        